$color-red: #EE5F5B; // Ultimate moto
$color-orange: #F8A424; // Leaf.me
$color-orange-2: #EE6034; // Team JEC
$color-yellow: #FFF457; // Hyundai Rewards Dealer
$color-yellow-2: #efc500; // Cooks Country
$color-green: #62C462; // Hyundai Rewards
$color-green-2: #99FF91;
$color-blue: #837BFE; // Americas Test Kitchen
$color-blue-two: #00b0ef; // Staff Designs
$color-purple: #D67BF7; // Join.me millenials
$color-purple-2: #3a4699; // Tommy Doyles
$color-pink: #FE84B2; // Meta
$color-cyan: #4fc4c0; // Optos CDP
$color-gray: #D9D3D5;
